nextflow.enable.dsl = 2

params {
  project_name = 'SIMPLseq'
  outdir = 'results'
  samples = 'samples.csv'
  dada2_cpus = 8
  postprocess_cpus = 8
  cigar_cpus = 4
  dada2_memory = '12 GB'
  postprocess_memory = '12 GB'
  cigar_memory = '4 GB'

  amplicons_noprimers = 'reference/amplicons_noprimers.fasta'
  snv_filters = 'reference/snv_filters.txt'
  primers_fwd = 'workflow/primers/primers_fwd.fa'
  primers_rev = 'workflow/primers/primers_rev.fa'
  overlap_primers_fwd = 'workflow/primers/overlap_pr1.fa'
  overlap_primers_rev = 'workflow/primers/overlap_pr2.fa'

  pipeline_class = 'parasite'
  save_rdata = 'dada2_run.RData'

  max_ee = '5,5'
  trim_right = '0,0'
  min_len = '50'
  trunc_q = '5,5'
  max_consist = '10'
  omega_a = '1e-120'
  just_concatenate = '0'
  dada2_randomize = '1'
  dada2_multithread = '1'
  dada2_seed = ''

  strict_min_asv_length = 100
  indel_filter = '0.10'

  cigar_homopolymer_mask_length = 5
  cigar_min_total_reads = 100
  cigar_min_samples = 2
  cigar_exclude_bimeras = true

  inline_barcodes_enabled = false
  sentinel_locus = 'KELT'

  validation_frozen_results = ''
  biological_equivalence_thresholds = '1,10,100'
  biological_equivalence_fail_on_fail = true
}

process {
  shell = ['/bin/bash', '-euo', 'pipefail']
  executor = 'local'
  errorStrategy = 'terminate'
}

profiles {
  local {
    process.executor = 'local'
  }

  reproducible {
    params.dada2_randomize = '1'
    params.dada2_multithread = '0'
    params.dada2_seed = '1'
  }
}
